<div class="container" >
    <ng-container>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Micro Front 1</mat-card-title>
        <mat-card-subtitle>Module Federation</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://www.webempresa.com/wp-content/uploads/2013/04/plugin_include_component.jpeg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
         Ejemplo de "MicroFront" usando Module Federation en Angular. Este componente esta expuesto en un proyecto externo.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">LIKE</button>
        <button mat-raised-button  color="primary" routerLink="mfe1">DETAIL</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
  </div>