.example-card {
    max-width: 400px;
  }
  
 .example-header-image {
    background-image: url('https://st2.depositphotos.com/2872743/8039/i/600/depositphotos_80395470-stock-photo-gear-wheel-cartoon-guy-running.jpg');
    background-size: cover;
  }