<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Angular</mat-card-title>
      <mat-card-subtitle>Module Federation</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Navegacion interna del modulo, donde se navega a un hijo del mismo sin afectar la navegacion de shell.
      </p>
    </mat-card-content>
    <mat-card-actions>
       
        <button mat-button color="primary" (click)="goBack()">Back</button>
      </mat-card-actions>
   
  </mat-card>